<a href="https://colab.research.google.com/github/shivangirautela/oyesters_training_cum_internship/blob/master/Day_1_ML_Webinar_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

.ipynp  -Interacive python notebook
.py

In [0]:
print("hello world")

hello world

In [0]:
#input statement
company_name= input("what is your company name?")
print("my company name is  %s" %(company_name))

what is your company name?diazonic labs
my company name is  diazonic labs

# format specifier
%s-string %d-integer %f-float

In [0]:
a=1  #assssignment statement 
a

1

In [1]:
#python uses interpreter which takes care of datatype
a=18
b=5
print(a+b)
print(a*b)
print(a/b)
print(a%b)

23
90
3.6
3

In [2]:
#datatypes in python
a=1
b=2.2
c="shivangi"
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [0]:
#string datatype
a="shivangi"
b='A'
c='shivangi'
d='''i am shivangi'''
print(a,b,c,d)
print(type(a),type(b),type(c),type(d))
# ' =character
# "" =word or sentence
#''' = paragraph

shivangi A shivangi i am shivangi
<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [5]:
#string formatting
subscribers =300
company_name='diazonic labs'
print("my"+company_name+"has got"+str(subscribers) +"subscribers")
print("my",company_name,"has got",subscribers,"subcribers")
print("my %s has got %d subscribers "%(company_name,subscribers))
print(f"my{company_name} has got {subscribers} subscribers") #latest technique

mydiazonic labshas got300subscribers
my diazonic labs has got 300 subcribers
my diazonic labs has got 300 subscribers
mydiazonic labs has got 300 subscribers

In [0]:
#list

In [0]:
a=[1,2,3,4]
print(a)
print(type(a))

[1, 2, 3, 4]
<class 'list'>

In [6]:
b=[1,2.2,True,'diazonic']
print(b)
print(b[0],type(b[0]))
print(b[1],type(b[1]))
print(b[2],type(b[2]))
print(b[3],type(b[3]))

[1, 2.2, True, 'diazonic']
1 <class 'int'>
2.2 <class 'float'>
True <class 'bool'>
diazonic <class 'str'>

In [0]:
#conditional statement
# if, elif ans else

age= int(input("enter your age")) #type casting
if(age<19):
  print('not eligible for voting')
else:
  print("eligible for voting")

enter your age55
eligible for voting

In [0]:
#function

#1. func defination
#2. func call


def add(a,b,c):
  result = a+b+c
  print(result)

add(1,2,3)

6

In [8]:
def mul(a,b):
  res=a*b
  print(res)

mul(5,7)
mul(3,7)

35
21

In [0]:
#loops
# for loop and while loop

In [9]:
i=1   #initialization
while(i<=10): #Condition
  print(i,end=' \t ')
  i=i*2     #increment

1 	 2 	 4 	 8

In [10]:
import time   #import librarry
i=1    #initialization
while(i<=10):  #condition
  print(i,end=' ')
  time.sleep(1)   #method of time library 
  i=i+1  #increment

1 2 3 4 5 6 7 8 9 10

Whenever we import a library in Python, it is 
considered as an object. Object will have 2 important features:

1.Method() - Functions

2.Attribute - Variables

In [0]:
# C Language/C++/Java - Compiler

# Numpy
# Matplotlib
# Pandas
# Sklearn - ML Library

# Python - Original Website
# Python for Dummies - Book